H2
{
    BACKGROUND-POSITION: left 50%;
    PADDING-LEFT: 25px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BACKGROUND-IMAGE: url(/graphics/bdy01.gif);
    MARGIN-LEFT: 15px;
    VERTICAL-ALIGN: middle;
    COLOR: #ff6f2f;
    PADDING-TOP: 6px;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    HEIGHT: 25px;
    TEXT-ALIGN: left
}
A.bouton
{
    FONT-SIZE: 8pt;
    WIDTH: 100%;
    COLOR: #27408b;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
A.bouton:hover
{
    FONT-SIZE: 8pt;
    WIDTH: 100%;
    COLOR: #27408b;
    TEXT-ALIGN: center;
    TEXT-DECORATION: underline
}
.frm_calculator
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 1px solid;
    WIDTH: 150px;
    COLOR: #27408b;
    BORDER-BOTTOM: 1px solid;
    TEXT-ALIGN: right;
    TEXT-DECORATION: none;
    use: Arial, Helvetica, sans-serif
}
.tdcolspantitle
{
    BORDER-RIGHT: #cccccc 1px;
    PADDING-RIGHT: 5px;
    BACKGROUND-POSITION: 100% 100%;
    BORDER-TOP: #cccccc 1px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    BACKGROUND-IMAGE: url(/graphics/menuleft.gif);
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: #27408b;
    TEXT-INDENT: 5px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-REPEAT: repeat-y;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #aee1ff;
    TEXT-ALIGN: center
}
DIV.SubTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    FLOAT: left;
    VERTICAL-ALIGN: top;
    COLOR: #ff6f2f;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    HEIGHT: 25px
}
DIV.SubTitleIn
{
    MARGIN-TOP: 5px;
    VERTICAL-ALIGN: middle;
    HEIGHT: 15px;
    TEXT-ALIGN: left
}
IMG.SubTitle
{
    MARGIN-TOP: 0px;
    FLOAT: left;
    MARGIN-LEFT: 13px;
    WIDTH: 26px;
    HEIGHT: 25px
}
P.SubTitle
{
    VERTICAL-ALIGN: middle;
    BORDER-TOP-STYLE: solid;
    BORDER-RIGHT-STYLE: solid;
    BORDER-LEFT-STYLE: solid;
    HEIGHT: 36px;
    BORDER-BOTTOM-STYLE: solid
}
TD
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A
{
    COLOR: #27408b;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.asmall
{
    COLOR: #27408b;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #27408b;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.asmall:hover
{
    COLOR: #27408b;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
A
{
    FONT-SIZE: 8pt
}
A:hover
{
    FONT-SIZE: 8pt
}
.asmall
{
    FONT-SIZE: 8pt
}
.asmall:hover
{
    FONT-SIZE: 8pt
}
.banner
{
    FONT-SIZE: 8pt;
    COLOR: #27408b;
    FONT-FAMILY: Arial,Verdana, sans-serif
}
.TEXT
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 1px solid;
    COLOR: #27408b;
    BORDER-BOTTOM: 1px solid;
    FONT-FAMILY: Arial,Verdana, sans-serif
}
UL
{
    COLOR: #27408b;
    FONT-FAMILY: Arial, Verdana, sans-serif
}
LI
{
    COLOR: #27408b;
    FONT-FAMILY: Arial, Verdana, sans-serif
}
SELECT
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 1px solid;
    COLOR: #27408b;
    BORDER-BOTTOM: 1px solid;
    FONT-FAMILY: Arial, Verdana, sans-serif
}
TEXTAREA
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 1px solid;
    COLOR: #27408b;
    BORDER-BOTTOM: 1px solid;
    FONT-FAMILY: Arial, Verdana, sans-serif
}
.para
{
    PADDING-RIGHT: 20px;
    PADDING-LEFT: 20px;
    FONT-SIZE: 8pt;
    COLOR: #27408b;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-ALIGN: justify;
    TEXT-DECORATION: none
}
.aheader
{
    FONT-SIZE: 8pt;
    COLOR: #27408b;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.aheader:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #ff6f2f;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.tablelink
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 6pt;
    COLOR: white;
    BORDER-TOP-STYLE: none;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BORDER-BOTTOM-STYLE: none
}
.tdempty
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tablewindow
{
    BORDER-RIGHT: #a7d8f6 1px solid;
    BORDER-TOP: #a7d8f6 1px solid;
    BACKGROUND: #ffffff;
    BORDER-LEFT: #a7d8f6 1px solid;
    BORDER-BOTTOM: #a7d8f6 1px solid
}
.tableborder
{
    BORDER-RIGHT: #a7d8f6 1px solid;
    BORDER-TOP: #a7d8f6 1px solid;
    BORDER-LEFT: #a7d8f6 1px solid;
    BORDER-BOTTOM: #a7d8f6 1px solid
}
TH
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    BACKGROUND-IMAGE: url(/graphics/bg0.gif);
    PADDING-BOTTOM: 5px;
    COLOR: #27408b;
    TEXT-INDENT: 5px;
    PADDING-TOP: 5px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdtitle
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    BACKGROUND-IMAGE: url(/graphics/bg0.gif);
    PADDING-BOTTOM: 5px;
    COLOR: #27408b;
    TEXT-INDENT: 5px;
    PADDING-TOP: 5px;
    BACKGROUND-REPEAT: repeat-x;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #9bc8e6
}
.tdtitlesmall
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    BACKGROUND-IMAGE: url(/graphics/bg0.gif);
    PADDING-BOTTOM: 5px;
    COLOR: #27408b;
    TEXT-INDENT: 5px;
    PADDING-TOP: 5px;
    BACKGROUND-REPEAT: repeat-x;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #9bc8e6
}
.tdtitlelarge
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    BACKGROUND-IMAGE: url(/graphics/bg0large.gif);
    PADDING-BOTTOM: 5px;
    COLOR: #27408b;
    TEXT-INDENT: 5px;
    PADDING-TOP: 5px;
    BACKGROUND-REPEAT: repeat-x;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    HEIGHT: 46px;
    BACKGROUND-COLOR: #9bc8e6
}
.tdtitle
{
    FONT-SIZE: 8pt
}
.tdtitlesmall
{
    FONT-SIZE: 8pt
}
.tablenoborder
{
    BORDER-RIGHT: #27408b 0px;
    BORDER-TOP: #27408b 0px;
    BACKGROUND: #27408b;
    BORDER-LEFT: #27408b 0px;
    BORDER-BOTTOM: #27408b 0px
}
.tableborderlight
{
    BORDER-RIGHT: #27408b 1px;
    BORDER-TOP: #27408b 1px;
    BACKGROUND: #eeeeee;
    BORDER-LEFT: #27408b 1px;
    BORDER-BOTTOM: #27408b 1px
}
BODY
{
    SCROLLBAR-FACE-COLOR: #eeeeee;
    FONT-SIZE: 8pt;
    SCROLLBAR-HIGHLIGHT-COLOR: #eeeeee;
    SCROLLBAR-SHADOW-COLOR: #eeeeee;
    SCROLLBAR-3DLIGHT-COLOR: #27408b;
    SCROLLBAR-ARROW-COLOR: #27408b;
    SCROLLBAR-TRACK-COLOR: #eeeeee;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    SCROLLBAR-DARKSHADOW-COLOR: #27408b;
    BACKGROUND-COLOR: #ffffff
}
.bodymenu
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #eeeeee
}
.bodylink
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffdd
}
.TDSUM10
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BACKGROUND: #dddddd;
    PADDING-BOTTOM: 5px;
    COLOR: black;
    PADDING-TOP: 5px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
HR
{
    BORDER-RIGHT: #27408b 1px;
    BORDER-TOP: #27408b 1px;
    MARGIN-TOP: 10px;
    MARGIN-BOTTOM: 10px;
    BORDER-LEFT: #27408b 1px;
    WIDTH: 80%;
    BORDER-BOTTOM: #27408b 1px
}
.tablegray
{
    BORDER-RIGHT: #27408b 1px solid;
    BORDER-TOP: #27408b 1px solid;
    BACKGROUND: #eeeeee;
    BORDER-LEFT: #27408b 1px solid;
    BORDER-BOTTOM: #27408b 1px solid
}
.warning
{
    BORDER-RIGHT: #eeeeee 1px;
    BORDER-TOP: #eeeeee 1px;
    FONT-SIZE: 8pt;
    BACKGROUND: #ffffff;
    BORDER-LEFT: #eeeeee 1px;
    COLOR: red;
    BORDER-BOTTOM: #eeeeee 1px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.console
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    BACKGROUND: #ffffff;
    PADDING-BOTTOM: 5px;
    MARGIN-LEFT: 50px;
    COLOR: #000000;
    PADDING-TOP: 5px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.legend
{
    FONT-SIZE: 7pt;
    BACKGROUND: #ffffff;
    MARGIN-LEFT: 60px;
    COLOR: black;
    FONT-STYLE: italic;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.hint
{
    FONT-SIZE: 7pt;
    BACKGROUND: #ffffff;
    MARGIN-LEFT: 5px;
    COLOR: black;
    MARGIN-RIGHT: 5px;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.HeaderCust
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #27408b;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdhealth
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdhealth0
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdhealth1
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdhealth4
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdhealth8
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdhealth0
{
    BACKGROUND-COLOR: #00ff00
}
.tdhealth1
{
    BACKGROUND-COLOR: #eeeeee
}
.tdhealth
{
    BACKGROUND-COLOR: #eeeeee
}
.tdhealth4
{
    BACKGROUND-COLOR: #ff9933
}
.tdhealth8
{
    BACKGROUND-COLOR: red
}
.tdlog0
{
    BORDER-RIGHT: #cccccc 1px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #cccccc 1px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: black;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdlog1
{
    BORDER-RIGHT: #cccccc 1px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #cccccc 1px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: black;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdlog2
{
    BORDER-RIGHT: #cccccc 1px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #cccccc 1px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: black;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdlog4
{
    BORDER-RIGHT: #cccccc 1px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #cccccc 1px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: black;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdlog8
{
    BORDER-RIGHT: #cccccc 1px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #cccccc 1px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: black;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdlog0
{
    COLOR: black
}
.tdlog1
{
    COLOR: #6633ff
}
.tdlog2
{
    COLOR: #999933
}
.tdlog4
{
    COLOR: #ff9933
}
.tdlog8
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 1px;
    COLOR: red;
    PADDING-TOP: 1px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdsanity8
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 1px;
    COLOR: red;
    PADDING-TOP: 1px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tablelog
{
    BORDER-RIGHT: #27408b 1px solid;
    BORDER-TOP: #27408b 1px solid;
    BACKGROUND: #eeeeee;
    BORDER-LEFT: #27408b 1px solid;
    BORDER-BOTTOM: #27408b 1px solid
}
.tdnewsdate
{
    BORDER-RIGHT: #27408b 1px;
    PADDING-RIGHT: 15px;
    BORDER-TOP: #27408b 1px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: #27408b 1px;
    COLOR: #27408b;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #27408b 1px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdnews
{
    BORDER-RIGHT: #27408b 1px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #27408b 1px;
    PADDING-LEFT: 15px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: #27408b 1px solid;
    COLOR: #27408b;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #27408b 1px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdsum
{
    BORDER-RIGHT: #cccccc 1px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #cccccc 1px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: black;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tddata
{
    BORDER-RIGHT: #cccccc 1px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #cccccc 1px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: black;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tddatasmall
{
    BORDER-RIGHT: #cccccc 1px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #cccccc 1px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: black;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdchoice
{
    BORDER-RIGHT: #cccccc 1px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #cccccc 1px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: black;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdchoicesmall
{
    BORDER-RIGHT: #cccccc 1px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #cccccc 1px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: black;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdsumsmall
{
    BORDER-RIGHT: #cccccc 1px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #cccccc 1px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: black;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdestim
{
    BORDER-RIGHT: #cccccc 1px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #cccccc 1px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: black;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdchoice
{
    FONT-SIZE: 8pt
}
.tddata
{
    FONT-SIZE: 8pt
}
.tdestim
{
    FONT-SIZE: 8pt
}
.tdchoicesmall
{
    FONT-SIZE: 8pt
}
.tddatasmall
{
    FONT-SIZE: 8pt
}
.tdestim
{
    COLOR: #27408b;
    FONT-STYLE: italic
}
.tdsum
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BACKGROUND: #dddddd
}
.tdsumsmall
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BACKGROUND: #dddddd
}
.tdchoicec
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: "Courier New", Courier
}
.tdchoiceorange
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    BACKGROUND: #ffa500;
    PADDING-BOTTOM: 5px;
    COLOR: black;
    PADDING-TOP: 5px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdchoicered
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    BACKGROUND: #ff5555;
    PADDING-BOTTOM: 5px;
    COLOR: black;
    PADDING-TOP: 5px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdchoicegreen
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    BACKGROUND: #00ff99;
    PADDING-BOTTOM: 5px;
    COLOR: black;
    PADDING-TOP: 5px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdmenu
{
    FONT-SIZE: 8pt;
    BACKGROUND: #eeeeee;
    TEXT-TRANSFORM: capitalize;
    COLOR: black;
    TEXT-INDENT: 10px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdsubmenu
{
    FONT-SIZE: 8pt;
    BACKGROUND: #eeeeee;
    TEXT-TRANSFORM: capitalize;
    COLOR: black;
    TEXT-INDENT: 20px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdlink
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    BACKGROUND: #eeeeee;
    PADDING-BOTTOM: 5px;
    TEXT-TRANSFORM: capitalize;
    COLOR: black;
    PADDING-TOP: 5px;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-ALIGN: center
}
.tdlinkleft
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    BACKGROUND: #eeeeee;
    PADDING-BOTTOM: 5px;
    TEXT-TRANSFORM: capitalize;
    COLOR: black;
    PADDING-TOP: 5px;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-ALIGN: left
}
.tableformempty
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    BORDER-TOP-STYLE: none;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BORDER-BOTTOM-STYLE: none
}
.tableform
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    BORDER-TOP-STYLE: none;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM-STYLE: none
}
.tdformhdr
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 2px;
    COLOR: #27408b;
    TEXT-INDENT: 5px;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdformhdrsmall
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 2px;
    COLOR: #27408b;
    TEXT-INDENT: 5px;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
tdforminput
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 2px;
    COLOR: #27408b;
    TEXT-INDENT: 5px;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
tdforminputsmall
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 2px;
    COLOR: #27408b;
    TEXT-INDENT: 5px;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdformhdr
{
    BACKGROUND-POSITION: right 50%;
    BACKGROUND-IMAGE: url(/graphics/menuleft.gif);
    BACKGROUND-REPEAT: repeat-y;
    BACKGROUND-COLOR: #aee1ff;
    TEXT-ALIGN: right
}
.tdformhdrsmall
{
    BACKGROUND-POSITION: right 50%;
    BACKGROUND-IMAGE: url(/graphics/menuleft.gif);
    BACKGROUND-REPEAT: repeat-y;
    BACKGROUND-COLOR: #aee1ff;
    TEXT-ALIGN: right
}
.tdforminput
{
    BORDER-RIGHT: #cccccc 1px;
    BORDER-TOP: #cccccc 1px;
    BACKGROUND: #eeeeee;
    BORDER-LEFT: #cccccc 1px solid;
    TEXT-INDENT: 5px;
    BORDER-BOTTOM: #cccccc 1px solid
}
.tdforminputsmall
{
    BORDER-RIGHT: #cccccc 1px;
    BORDER-TOP: #cccccc 1px;
    BACKGROUND: #eeeeee;
    BORDER-LEFT: #cccccc 1px solid;
    TEXT-INDENT: 5px;
    BORDER-BOTTOM: #cccccc 1px solid
}
.tdforminputsmall
{
    FONT-SIZE: 8pt
}
.tdformhdrsmall
{
    FONT-SIZE: 8pt
}
.tdforminput
{
    FONT-SIZE: 8pt
}
.tdformhdr
{
    FONT-SIZE: 8pt
}
.tdheadersmall
{
    BORDER-RIGHT: #cccccc 1px;
    PADDING-RIGHT: 5px;
    BACKGROUND-POSITION: 100% 100%;
    BORDER-TOP: #cccccc 1px;
    PADDING-LEFT: 5px;
    BACKGROUND-IMAGE: url(/graphics/menuleft.gif);
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: #27408b;
    TEXT-INDENT: 5px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-REPEAT: repeat-y;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #aee1ff;
    TEXT-ALIGN: right
}
.tdheader
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 5px;
    BACKGROUND-POSITION: 100% 100%;
    BORDER-TOP: medium none;
    PADDING-LEFT: 5px;
    BACKGROUND-IMAGE: url(/graphics/menuleft.gif);
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: medium none;
    COLOR: #27408b;
    TEXT-INDENT: 5px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: medium none;
    BACKGROUND-REPEAT: repeat-y;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #aee1ff;
    TEXT-ALIGN: right
}
.tdheadersmall
{
    FONT-SIZE: 8pt
}
.tdheader
{
    FONT-SIZE: 8pt
}
TD.WHITE
{
    FONT-SIZE: 8pt;
    BACKGROUND: #ffffff;
    COLOR: black;
    FONT-FAMILY: Arial Helvetica sans-serif
}
.thsmall
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 5px;
    COLOR: white;
    TEXT-INDENT: 5px;
    PADDING-TOP: 5px;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #27408b
}
.th10
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 5px;
    COLOR: white;
    TEXT-INDENT: 5px;
    PADDING-TOP: 5px;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #27408b
}
TH
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 5px;
    TEXT-TRANSFORM: capitalize;
    COLOR: #ffffff;
    PADDING-TOP: 5px;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #27408b;
    TEXT-ALIGN: center
}
.Title
{
    MARGIN-TOP: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    MARGIN-BOTTOM: 4px;
    PADDING-BOTTOM: 1px;
    TEXT-TRANSFORM: capitalize;
    COLOR: #27408b;
    PADDING-TOP: 1px;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-ALIGN: left
}
.titlehdr
{
    FONT-SIZE: 10pt;
    TEXT-TRANSFORM: capitalize;
    COLOR: #27408b;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.titlefont
{
    FONT-SIZE: 8pt;
    COLOR: #27408b;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
H1
{
    MARGIN-TOP: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    MARGIN-BOTTOM: 10px;
    PADDING-BOTTOM: 1px;
    TEXT-TRANSFORM: capitalize;
    COLOR: #27408b;
    PADDING-TOP: 1px;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-ALIGN: center
}
H3
{
    MARGIN-TOP: 10px;
    FONT-SIZE: 10pt;
    MARGIN-BOTTOM: 10px;
    PADDING-BOTTOM: 1px;
    TEXT-TRANSFORM: capitalize;
    COLOR: #27408b;
    PADDING-TOP: 1px;
    FONT-STYLE: italic;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-ALIGN: center
}
H5
{
    MARGIN-TOP: 10px;
    FONT-SIZE: 8pt;
    MARGIN-BOTTOM: 10px;
    PADDING-BOTTOM: 1px;
    MARGIN-LEFT: 60px;
    TEXT-TRANSFORM: capitalize;
    COLOR: #27408b;
    PADDING-TOP: 1px;
    FONT-STYLE: italic;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-ALIGN: left
}
H6
{
    MARGIN-TOP: 2px;
    FONT-SIZE: 8pt;
    MARGIN-BOTTOM: 2px;
    PADDING-BOTTOM: 0px;
    TEXT-TRANSFORM: capitalize;
    COLOR: #27408b;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-ALIGN: center
}
.tdrt_red
{
    BORDER-RIGHT: #a7d8f6 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #a7d8f6 1px solid;
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    BACKGROUND: #ff5555;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: #a7d8f6 1px solid;
    COLOR: white;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #a7d8f6 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdrt_orange
{
    BORDER-RIGHT: #a7d8f6 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #a7d8f6 1px solid;
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    BACKGROUND: #ffcc66;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: #a7d8f6 1px solid;
    COLOR: #27408b;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #a7d8f6 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tdrt_green
{
    BORDER-RIGHT: #a7d8f6 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #a7d8f6 1px solid;
    PADDING-LEFT: 5px;
    FONT-SIZE: 8pt;
    BACKGROUND: #ffffff;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: #a7d8f6 1px solid;
    COLOR: #27408b;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #a7d8f6 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.arealtime
{
    FONT-SIZE: 8pt;
    COLOR: #27408b;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.arealtime:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #27408b;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.tdcalendardayblue
{
    COLOR: #27408b;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #aee1ff
}
.tdcalendarweekendblue
{
    COLOR: #27408b;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #66ccff
}
.tdcalendardaygrey
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #eeeeee
}
.tdcalendarweekendgrey
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #cccccc
}
.tdcalendarmonth
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #eeeeee
}
.button
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 1px solid;
    COLOR: white;
    BORDER-BOTTOM: 1px solid;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ce6048
}
.search
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff
}
