/* AutoSuggest CSS - Version 1.2 */

ul.as-selections {
	list-style-type: none;
	border-top: 1px solid #888;
	border-bottom: 1px solid #b6b6b6;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	padding: 4px 0 4px 4px;
	margin: 0;
	overflow: auto;
	background-color: #fff;
	box-shadow:inset 0 1px 2px #888;
	-webkit-box-shadow:inset 0 1px 2px #888;
	-moz-box-shadow:inset 0 1px 2px #888;
}

ul.as-selections.loading {
	background-color: #eee;
}

ul.as-selections li {
	float: left;
	margin: 1px 4px 1px 0;
}



ul.as-selections li.as-original input {
	border: none;
	outline: none;
	width: 180px;
	height: 18px;
	padding-top: 3px;
}

ul.as-list {
	position: absolute;
	list-style-type: none;
	margin: 2px 0 0 0;
	padding: 0;
	color: #000;
	background-color: #fff;
	background-color: rgba(255,255,255,0.95);
	z-index: 2;
	box-shadow: 0 2px 12px #222;
	-webkit-box-shadow: 0 2px 12px #222;
	-moz-box-shadow: 0 2px 12px #222;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

li.as-result-item, li.as-message {
	margin: 0 0 0 0;
	padding: 5px 12px;
	background-color: transparent;
	border: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

li:first-child.as-result-item {
	margin: 0;
}

li.as-message {
	margin: 0;
	cursor: default;
}


/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	ul.as-selections {
		border-top-width: 2px;
	}
	ul.as-selections li.as-selection-item {
		padding-top: 3px;
		padding-bottom: 3px;
	}
	ul.as-selections li.as-selection-item a.as-close {
		margin-top: -1px;
	}
	ul.as-selections li.as-original input {
		height: 19px;
	}
}

/* Opera Hacks  */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
	ul.as-list {
		border: 1px solid #888;
	}
	ul.as-selections li.as-selection-item a.as-close {
		margin-left: 4px;
		margin-top: 0;
	}
}

/* IE Hacks  */
ul.as-list {
	border: 1px solid #888\9;
}
ul.as-selections li.as-selection-item a.as-close {
	margin-left: 4px\9;
	margin-top: 0\9;
}

/* Firefox 3.0 Hacks */
ul.as-list,  x:-moz-any-link, x:default { 
	border: 1px solid #888;
}
BODY:first-of-type ul.as-list, x:-moz-any-link, x:default { /* Target FF 3.5+ */
	border: none;
}