BODY
{
}
.errortext
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: tomato;
    FONT-FAMILY: Arial
}
.pheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 17px;
    TEXT-TRANSFORM: uppercase;
    COLOR: darkblue;
    FONT-FAMILY: Arial
}
.subheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 17px;
    TEXT-TRANSFORM: uppercase;
    COLOR: blue;
    FONT-FAMILY: Arial
}
.pcontent
{
    FONT-SIZE: 11px;
    COLOR: black;
    FONT-FAMILY: Arial
}
.tdcontentred
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: black;
    FONT-FAMILY: Arial
}
.tdcontent
{
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: Arial
}
.button
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: darkblue
}
A.textnav
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 11px;
    COLOR: blue;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A:visited
{
}
A
{
}
A:active
{
}
A:link
{
}
A:hover
{
    COLOR: darkgray;
    TEXT-DECORATION: none
}
.tbl
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: Arial
}
.tblheader
{
    BORDER-RIGHT: gray thin solid;
    BORDER-TOP: gray thin solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    BORDER-LEFT: gray thin solid;
    COLOR: white;
    BORDER-BOTTOM: gray thin solid;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: darkblue
}
.tbldata
{
    BORDER-RIGHT: gray thin solid;
    BORDER-TOP: gray thin solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: gray thin solid;
    COLOR: gray;
    BORDER-BOTTOM: gray thin solid;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white
}
A.menu
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: darkblue;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.submenu
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: mediumblue;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.sDCName
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    TEXT-TRANSFORM: uppercase;
    COLOR: #ff0033;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
A.stextnav
{
    COLOR: darkblue;
    TEXT-DECORATION: none
}
A.subsubmenu
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: darkgreen;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
