BODY
{
}
.errortext
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: tomato;
    FONT-FAMILY: Arial
}
.pheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 20px;
    TEXT-TRANSFORM: uppercase;
    COLOR: white;
    FONT-FAMILY: Arial
}
.nheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    TEXT-TRANSFORM: uppercase;
    COLOR: white;
    FONT-FAMILY: Arial
}
.mheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    TEXT-TRANSFORM: uppercase;
    COLOR: black;
    FONT-FAMILY: Arial
}
.sheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    TEXT-TRANSFORM: uppercase;
    COLOR: #333366;
    FONT-FAMILY: Arial
}
.bheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 17px;
    TEXT-TRANSFORM: uppercase;
    COLOR: #333366;
    FONT-FAMILY: Arial
}
.iheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 25px;
    TEXT-TRANSFORM: uppercase;
    COLOR: #333366;
    FONT-FAMILY: Arial
}
.gheader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    TEXT-TRANSFORM: uppercase;
    COLOR: white;
    FONT-FAMILY: Arial
}
.pcontent
{
    FONT-SIZE: 11px;
    COLOR: black;
    FONT-FAMILY: Arial
}
.tdhead
{
    FONT-SIZE: 15px;
    COLOR: black;
    FONT-FAMILY: Arial
}
.tblcontent
{
    FONT-SIZE: 9px;
    COLOR: black;
    FONT-FAMILY: Arial
}
.tdcontentred
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: black;
    FONT-FAMILY: Arial
}
.tdcontentblack
{
    FONT-SIZE: 9px;
    COLOR: black;
    FONT-FAMILY: Arial
}
.tdcontent
{
    FONT-SIZE: 11px;
    COLOR: white;
    FONT-FAMILY: Arial
}
.button
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #333366
}
A.textnav
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 11px;
    COLOR: forestgreen;
    FONT-FAMILY: Arial
}
A:hover
{
    COLOR: #6699cc;
    TEXT-DECORATION: none
}
.table
{
    BORDER-RIGHT: gray thin solid;
    BORDER-TOP: gray thin solid;
    FONT-SIZE: 11px;
    BORDER-LEFT: gray thin solid;
    COLOR: black;
    BORDER-BOTTOM: gray thin solid;
    FONT-FAMILY: Arial
}
.tbl
{
    FONT-SIZE: 11px;
    COLOR: white;
    FONT-FAMILY: Arial
}
.tblheader
{
    BORDER-RIGHT: #999999 thin solid;
    BORDER-TOP: #999999 thin solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    BORDER-LEFT: #999999 thin solid;
    COLOR: white;
    BORDER-BOTTOM: #999999 thin solid;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #333366
}
.tbldata
{
    BORDER-RIGHT: #999999 thin solid;
    BORDER-TOP: #999999 thin solid;
    FONT-SIZE: 11px;
    BORDER-LEFT: #999999 thin solid;
    COLOR: black;
    BORDER-BOTTOM: #999999 thin solid;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: white
}
A.menu
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: darkblue;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.sDCName
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    TEXT-TRANSFORM: uppercase;
    COLOR: #ff0033;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
A.stextnav
{
    COLOR: #333366;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.forgot
{
    FONT-SIZE: 11pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.NavLink
{
    FONT-SIZE: 15px;
    COLOR: white;
    FONT-FAMILY: Arial
}
.welcome
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.links
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 11px;
    COLOR: navy;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.linknav
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.feedback
{
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Arial
}
